*{
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color: #0a0a23;
  --info-color: #00471b;
  --check-color: white;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.box {
  position: relative;
  height: 600px;
  width: 500px;
  border-radius: 5px;
  /* background-color: #000016; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
  height: 30px;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.title{
  position: absolute;
  font-size: 18px;
  width: 400px;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--check-color);
  text-align: center;
}

.check-text {
  position: absolute;
  height: 119px;
  width: 400px;
  background-color: var(--check-color);
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 6px 6px #002ead;
}

.info {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  height: 125px;
  width: 400px;
  background-color: var(--info-color);
  border-radius: 10px;
}
